extends layout

block content
  script(type='text/javascript', src='/js/admin.js')
  h1 Election Admin
  
  #sentiment
    button#reset.btn Reset Sentiment
  
  #polls
    h3 Current Position
    #positions.btn-group(data-toggle="buttons-radio")
      button.btn(name="president") President
      button.btn(name="vice-president") Vice President
      button.btn(name="treasurer") Treasurer
      button.btn(name="recruitment") Recruitment
      button.btn(name="social") Social
      button.btn(name="house-manager") House Manager
      button.btn(name="daa") DAA
      button.btn(name="saa") SAA
      button.btn(name="secretary") Secretary

    #people
      form
        fieldset
          legend Who's Running
          input(type="text", placeholder="candidate")
          input(type="text", placeholder="candidate")
          input(type="text", placeholder="candidate")
          input(type="text", placeholder="candidate")
          input(type="text", placeholder="candidate")
          input(type="text", placeholder="candidate")
          input(type="text", placeholder="candidate")
    button.btn.btn-primary#updatePosition Update Position
    br
    br
    button.btn.btn-primary#updateResults Update Results
    br
    br
    button.btn.btn-primary#switchToDebates Switch To Debates

  #questions
    form
      fieldset
        legend Ask a Question
        label Question
        input#question(type="text", placeholder="Ask a question...")
        label Ans #1
        input#ans1(type="text")
        label Ans #2
        input#ans2(type="text")
        br
        button.btn.btn-success#submitQuestion Submit
