extends layout

block content
  script(type='text/javascript', src='/js/smoothie.js')
  script(type='text/javascript', src='/js/dash.js')
  h1 Election Dashboard

  ul.nav.nav-tabs
    li.active
      a#debatesli(href="#sentiment", data-toggle="tab") Debates
    li
      a#pollsli(href="#polls", data-toggle="tab") Exit Polls
  
  .tab-content
    #sentiment.tab-pane.active
      h3 Current Sentiment
      canvas(width="600px", height="200")#sentimentcanvas &nbsp;
      .row
        .span2
          #ibox.green
          span First Floor
        .span2
          #ibox.red
          span Second Floor

    
    #polls.tab-pane
      h3 Exit Poll Standings by % of votes on floor:
      h3#position
      table.table.table-striped#people
