extends layout

block content
  script(type='text/javascript', src='/js/client.js')
  h1 Election
  
  ul.nav.nav-tabs
    li.active
      a(href="#sentiment", data-toggle="tab") Debates
    li
      a(href="#polls", data-toggle="tab") Exit Polls
  
  .tab-content
    #sentiment.tab-pane.active
      h3 Sentiment
      .btn-group(data-toggle="buttons-radio")
        button#dec.btn.btn-large(data-val="-1") -
        button#neu.btn.btn-large(data-val="0") neutral
        button#inc.btn.btn-large(data-val="1") +
    
    #polls.tab-pane
      h3#position
      #candidates.btn-group(data-toggle="buttons-radio")
