extends layout

block content
  script(type='text/javascript', src='/js/client.js')
  
  h3 Choose Your Floor
  #floor
    .btn-group(data-toggle="buttons-radio")
      button.btn.btn-large(data-val="1") First
      button.btn.btn-large(data-val="2") Second

  br
  br

  ul.nav.nav-tabs
    li.active
      a#debatesli(href="#sentiment", data-toggle="tab") Debates
    li
      a#pollsli(href="#polls", data-toggle="tab") Exit Polls
  
  .tab-content
    #sentiment.tab-pane.active
      h3 Sentiment
      .btn-group(data-toggle="buttons-radio")
        button#dec.btn.btn-large(data-val="-1")
          i.icon-minus
        button#neu.btn.btn-large(data-val="0") neutral
        button#inc.btn.btn-large(data-val="1")
          i.icon-plus
    
    #polls.tab-pane
      h3#position N/A
      #candidates.btn-group(data-toggle="buttons-radio")

  #qModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true") ×
      h3#myModalLabel Instant Poll Question
    .modal-body#anss
      h4#question
      .row
        button.btn.btn-primary#ans1(data-dismiss="modal", aria-hidden="true")
      .row
        button.btn.btn-primary#ans2(data-dismiss="modal", aria-hidden="true")
    .modal-footer
      button.btn(data-dismiss="modal", aria-hidden="true") Close
